<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="WebPartExtend" type="UFSoft.UBF.UI.Custom.ExtendedPartSection, UFSoft.UBF.UI.FormProcess" />
  </configSections>
  <WebPartExtend>
    <ExtendedPart parentPartFullName="MFG.MO.StartAnalysisUI"
                  extendedPartFullName="U9Custom.UI.ManufactureSimulateShortageTable.SimuDocShortageButtonPlugin"
                  extendedPartAssemblyName="U9Custom.UI.ManufactureSimulateShortageTable.dll" />
    <ExtendedPart parentPartFullName="UFIDA.U9.MFG.MO.StartAnalysisUIModel.SimuDocUIFormWebPart"
                  extendedPartFullName="U9Custom.UI.ManufactureSimulateShortageTable.SimuDocShortageButtonPlugin"
                  extendedPartAssemblyName="U9Custom.UI.ManufactureSimulateShortageTable.dll" />
    <ExtendedPart parentPartFullName="UFIDA.U9.MFG.MO.StartAnalysisUIModel.ManufactureSimuResultUIFormWebPart"
                  extendedPartFullName="U9Custom.UI.ManufactureSimulateShortageTable.SimuDocShortageButtonPlugin"
                  extendedPartAssemblyName="U9Custom.UI.ManufactureSimulateShortageTable.dll" />
  </WebPartExtend>
</configuration>
